

body {
  background-color: cover;
  background-image: url("../images/grass-1197644_1920.jpg");
  color: white;
}

#row_title h1 {
  margin-left: 0.5em;
  font-family: "Merienda";
}

/* Clock */
#row_clock {
  margin-top: 7em;
  padding: 0;
}

#time_left p {
  text-align: center;
  font-size: 15em;
  margin: 0;
}



/* End clock */
#row_mode {
  margin-top: 1em;
  margin-left: 0.5em;
  font-size: 2.4em;
  font-family: "Abel";
}
#mode p {
  display: inline;
}

#row_button {
  margin-top: 0.5em;
  margin-left: 1em;
}

#row_button button {
}

#row_pomodoros {
  position: fixed;
  bottom: 50px;
  padding-bottom: 10px;
  width: 100%;
}

.pomodoro_completed {
  width: 80px;
}
.pomodoro_pending {
  width: 80px;
  opacity: 0.5;
}


/* Bottom bar */
#row_menu {
  padding-left: 20px;
  color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0, 0.7);
}

#pLength p {
  display: inline;
  font-size: 170%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
#bLength p {
  display: inline;
  font-size: 170%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
#numPomodoros p {
  display: inline;
  font-size: 170%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
#incrementPomodoroLength {
  width: 3%;
  padding-bottom: 5px;
}
#incrementPomodoroLength:hover {
  cursor: pointer;
}

#decrementPomodoroLength {
  width: 3%;
  margin-right: 25px;
  padding-bottom: 5px;
}

#decrementPomodoroLength:hover {
  cursor: pointer;
}

#incrementBreakLength {
  width: 3%;
  padding-bottom: 5px;
}
#incrementBreakLength:hover {
  cursor: pointer;
}

#decrementBreakLength {
  width: 3%;
  margin-right: 25px;
  padding-bottom: 5px;
}

#decrementBreakLength:hover {
  cursor: pointer;
}

#incrementPomodoros {
  width: 3%;
  padding-bottom: 5px;
}
#incrementPomodoros:hover {
  cursor: pointer;
}
#decrementPomodoros {
  width: 3%;
  padding-bottom: 5px;
}
#decrementPomodoros:hover {
  cursor: pointer;
}

#myModalAbout {
  color: black;
}

#about {
  float: right;
  color: white;
  margin-top: 8px;
  margin-right: 15px;
}

#about a:hover {
  text-decoration: none;
  color: #fff;
}


.modal-body .row {
	margin: auto;
}

#startTimerButton {
  background: #e02121;
  background-image: -webkit-linear-gradient(top, #e02121, #8f0303);
  background-image: -moz-linear-gradient(top, #e02121, #8f0303);
  background-image: -ms-linear-gradient(top, #e02121, #8f0303);
  background-image: -o-linear-gradient(top, #e02121, #8f0303);
  background-image: linear-gradient(to bottom, #e02121, #8f0303);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 2px 25px 2px 25px;
  text-decoration: none;
  border: 0;
}

#startTimerButton:hover {
  background: #fc0a0a;
  background-image: -webkit-linear-gradient(top, #fc0a0a, #bf2222);
  background-image: -moz-linear-gradient(top, #fc0a0a, #bf2222);
  background-image: -ms-linear-gradient(top, #fc0a0a, #bf2222);
  background-image: -o-linear-gradient(top, #fc0a0a, #bf2222);
  background-image: linear-gradient(to bottom, #fc0a0a, #bf2222);
  text-decoration: none;
}
