* {
  /* From bootstrap */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url("../images/grass-1197644_1920.jpg");
  color: white;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px; /*bs*/
  line-height:1.4285713; /*bs*/
}

p {
  margin: 0 0 10px; /*bs*/
}

button {
  line-height: inherit; /*bs*/
}

#main {
  display: --webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#title {
  order: 1;
}

#title h1 {
  color: inherit;
  font-family: "Merienda";
  font-weight: 500;
  line-height: 1.1;
  margin: 0.8em 0 0.5em 0.5em;
}

/* Clock */
#time-left {
  order: 2;
}

#time-left p {
  font-size: 15em;
  text-align: center;
}
/* End clock */

#mode-display {
  font-size: 2.4em;
  font-family: "Abel";
  margin-left: 0.5em;
  order: 3;
}

#mode-display button {
  margin-left: 1em;
}

#pomomenu {
  order: 4;
}

.pomodoro-completed {
  width: 80px;
}
.pomodoro-pending {
  opacity: 0.5;
  width: 80px;
}

img {
  vertical-align: middle;
}

/* Bottom bar */
#row-menu {
  background: rgba(0,0,0, 0.7);
  color: green;
  padding-left: 20px;
  width: 100%;
}

#pomodoro-length p,
#break-length p,
#num-pomodoros p {
  color: white;
  display: inline;
  font-size: 170%;
  padding: 0 10px 0 10px;
}

#dec-pomodoro-length,
#dec-break-length {
  margin-right: 25px;
  padding-bottom: 5px;
  width: 3%;
}

#inc-break-length,
#inc-pomodoro-length,
#inc-pomodoros,
#dec-pomodoros {
  padding-bottom: 5px;
  width: 3%;
}

#inc-pomodoro-length:hover,
#dec-pomodoro-length:hover,
#inc-break-length:hover,
#dec-break-length:hover,
#inc-pomodoros:hover,
#dec-pomodoros:hover {
  cursor: pointer;
}

#about {
  color: white;
  float: right;
  margin: 8px 15px 0 0;
}

#about a {
  color: #337ab7; /*bs*/
  text-decoration: none; /*bs*/
}

#about a:hover {
  color: #fff;
}

#start-timer-btn {
  background: #e02121;
  background-image: linear-gradient(to bottom, #e02121, #8f0303);
  background-image: -moz-linear-gradient(top, #e02121, #8f0303);
  background-image: -ms-linear-gradient(top, #e02121, #8f0303);
  background-image: -o-linear-gradient(top, #e02121, #8f0303);
  background-image: -webkit-linear-gradient(top, #e02121, #8f0303);
  border: 0;
  border-radius: 28px;
  -moz-border-radius: 28;
  -webkit-border-radius: 28;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 2px 25px 2px 25px;
  text-decoration: none;
}

#start-timer-btn:hover {
  background: #fc0a0a;
  background-image: linear-gradient(to bottom, #fc0a0a, #bf2222);
  background-image: -moz-linear-gradient(top, #fc0a0a, #bf2222);
  background-image: -ms-linear-gradient(top, #fc0a0a, #bf2222);
  background-image: -o-linear-gradient(top, #fc0a0a, #bf2222);
  background-image: -webkit-linear-gradient(top, #fc0a0a, #bf2222);
}

#start-timer-btn:focus {
  outline : none; /* Removing outline of timer button. */
}
