* {
 margin: 0;
 padding: 0;
}

body {
  background-color: purple;
  background-image: url("images/grass-1197644_1920.jpg");
  color: white;
}


/* Clock */
#row_clock {
  margin-top: 13em;
  background-color:green;
  padding: 0;
}
#time_left p {
  text-align: center;
  font-size: 15em;
  background-color: red;
  margin: 0;
  padding: 0;
  width: 14em;
}



/* End clock */
#row_mode {
  background-color: black;
}
#mode p {
  display: inline;
}

/* Bottom bar */
#row_menu {
  padding-left: 20px;
  color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0, 0.7);
}


#pLength p {
  display: inline;
  font-size: 170%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
#bLength p {
  display: inline;
  font-size: 170%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#incrementPomodoroLength {
  width: 3%;
}
#incrementPomodoroLength:hover {
  cursor: crosshair;
}

#decrementPomodoroLength {
  width: 3%;
}

#decrementPomodoroLength:hover {
  cursor: crosshair;
}

#incrementBreakLength {
  width: 3%;
}
#incrementBreakLength:hover {
  cursor: crosshair;
}

#decrementBreakLength {
  width: 3%;
}

#decrementBreakLength:hover {
  cursor: crosshair;
}
